<!DOCTYPE html>
<html>
  <head>
    <title>MomoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="m-4">
      <%= link_to "Mount MoMo", "/" %>
      <%= link_to "Start an order", new_order_path, class: "rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to "See my orders", guests_orders_path, class: , class: "rounded-lg py-2 px-3 bg-slate-600 text-white inline-block font-medium cursor-pointer" %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
